{% extends "base_blackbelts.html" %}
{% load static %}

{% block title %}Black Belts - {% endblock title %}

{% block og_title %}Black Belts - {% endblock og_title %}
{% block description %}{% endblock description %}
{% block twitter_card %}{% endblock twitter_card %}

{% block content %}
    <h1>Instructors</h1>

    {% for object in object_list %}
        {% if object.instructor_bio != "" and object.prefix == "Kwan Jang Nim" %}
            <div id="instructor">
                <img src="{% static object.image_url %}" alt="" width=125 height=125 /><br>
                <a href="{{ object.id }}">{{ object }}</a>
            </div>
        {% endif %}
    {% endfor %}

    {% for object in object_list %}
        {% if object.instructor_bio != "" and object.prefix == "Sa Bum Nim" %}
            <div id="instructor">
                <img src="{% static object.image_url %}" alt="" width=125 height=125 /><br>
                <a href="{{ object.id }}">{{ object }}</a>
            </div>
        {% endif %}
    {% endfor %}
    
    {% for object in object_list %}
        {% if object.instructor_bio != "" and object.prefix == "Kyo Sa Nim" %}
            <div id="instructor">
                <img src="{% static object.image_url %}" alt="" width=125 height=125 /><br>
                <a href="{{ object.id }}">{{ object }}</a>
            </div>
        {% endif %}
    {% endfor %}

    {% for object in object_list %}
        {% if object.instructor_bio != "" %}
            {% if object.prefix != "Kwan Jang Nim" and object.prefix != "Sa Bum Nim" and object.prefix != "Kyo Sa Nim" %}
                <div id="instructor">
                    <img src="{% static object.image_url %}" alt="" width=125 height=125 /><br>
                    <a href="{{ object.id }}">{{ object }}</a>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <br style="clear: both;">

    <h1>Ranked Black Belts</h1>

    {% for object in object_list %}
        {% if object.instructor_bio == "" %}
            <a id="blackbelts">{{ object }}</a>
        {% endif %}
    {% endfor %}


{% endblock content %}